/* /Pages/Index.razor.rz.scp.css */
.search-section[b-tux0xrazp2] {
    background-color: #f1f1f1;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.search-bar[b-tux0xrazp2], .tag-search-bar[b-tux0xrazp2] {
    margin-bottom: 1rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.tag-pill[b-tux0xrazp2] {
    margin: 0.2rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;
    display: inline-flex;
    cursor: pointer;
    background-color: #e9ecef;
    color: #495057
}

    .tag-pill:hover[b-tux0xrazp2] {
        background-color: #007bff;
        color: #fff;
    }

.selected-tag-pill[b-tux0xrazp2] {
    margin: 0.2rem;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.2s, color 0.2s;
}

    .selected-tag-pill .close[b-tux0xrazp2] {
        margin-left: 0.5rem;
        color: #fff;
        cursor: pointer;
    }

    .selected-tag-pill:hover[b-tux0xrazp2] {
        background-color: #0056b3;
    }
/* /Shared/RecipeDetail.razor.rz.scp.css */
.recipe-detail[b-5vliwpljwa] {
    margin-top: 1rem;
}

    .recipe-detail .recipe-image[b-5vliwpljwa] {
        max-width: 100%;
        height: auto;
    }

    .recipe-detail .list-group-item[b-5vliwpljwa] {
        border: none;
        padding: 0.5rem 1rem;
    }

    .recipe-detail .badge-info[b-5vliwpljwa] {
        background-color: #17a2b8;
        color: #fff;
    }
