/* /Pages/Index.razor.rz.scp.css */
.search-section[b-tux0xrazp2] {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar[b-tux0xrazp2], .tag-search-bar[b-tux0xrazp2] {
    margin-bottom: 1rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
}

.tag-pill[b-tux0xrazp2] {
    margin: 0.2rem;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s, color 0.2s;
    display: inline-flex;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: var(--text-color)
}

    .tag-pill:hover[b-tux0xrazp2] {
        background-color: var(--primary-color);
        color: #fff;
    }

.selected-tag-pill[b-tux0xrazp2] {
    margin: 0.2rem;
    display: inline-flex;
    align-items: center;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: #fff;
    transition: background-color 0.2s, color 0.2s;
}

    .selected-tag-pill .close[b-tux0xrazp2] {
        margin-left: 0.5rem;
        color: #fff;
        cursor: pointer;
    }

    .selected-tag-pill:hover[b-tux0xrazp2] {
        background-color: var(--accent-color);
    }
/* /Shared/RecipeCard.razor.rz.scp.css */
.recipe-card[b-vg70j2kb0s] {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    text-decoration: none;
    color: inherit;
}

    .recipe-card:hover[b-vg70j2kb0s] {
        transform: scale(1.02);
    }

    .recipe-card img[b-vg70j2kb0s] {
        width: 100%;
        height: auto;
        border-bottom: 1px solid #ddd;
    }

.recipe-card-body[b-vg70j2kb0s] {
    padding: 16px;
}

.recipe-card-title[b-vg70j2kb0s] {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 8px;
    color: var(--text-color);
}

.recipe-card-description[b-vg70j2kb0s] {
    font-size: 1rem;
    color: #555;
    margin-bottom: 16px;
}

.recipe-card-tags[b-vg70j2kb0s] {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.recipe-card-tag[b-vg70j2kb0s] {
    background-color: var(--primary-color);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.875rem;
}
/* /Shared/RecipeDetail.razor.rz.scp.css */
.recipe-detail[b-5vliwpljwa] {
    margin-top: 1rem;
}

    .recipe-detail .recipe-image[b-5vliwpljwa] {
        max-width: 100%;
        height: auto;
    }

    .recipe-detail .list-group-item[b-5vliwpljwa] {
        border: none;
        padding: 0.5rem 1rem;
    }

    .recipe-detail .badge-info[b-5vliwpljwa] {
        background-color: var(--primary-color);
        color: #fff;
    }
