@page "/code-coverage"
@inject HttpClient Http

<h3>Code Coverage Report</h3>

@if (reportContent == null){
    <p>Loading...</p>
}
else {
    <iframe srcdoc="@reportContent" style="width: 100%; height: 600px;"></iframe>
}

@code {
    private string? reportContent;

    protected override async Task OnInitializedAsync()
    {
        reportContent = await Http.GetStringAsync("https://vorckea.github.io/RecipePortfolio/coverage/index.htm");
    }
}
