@page "/"
@using RecipePortfolio.Data
@using RecipePortfolio.Shared
@inject HttpClient Http

<h1>My Recipe Portfolio</h1>

@if (recipes == null || filteredRecipes == null){
    <p>Loading recipes</p>
}
else if (errorMessage != null)
{
    <p class="error">@errorMessage</p>
}
else
{
    <input
    type="text"
    @bind="SearchTerm"
    placeholder="Search recipes..."
    @oninput="DebounceSearch"
    />
    <div class="recipe-grid">
        @foreach(var recipe in filteredRecipes){
            <RecipeCard Recipe="recipe" />
        }
    </div>
}

@code{
    private string searchTerm = "";
    private List<Data.Recipe>? recipes;
    private List<Data.Recipe>? filteredRecipes;
    private string? errorMessage;
    private CancellationTokenSource? debounceCts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipes = await Http.GetFromJsonAsync<List<Data.Recipe>>("data/recipes.json");
            filteredRecipes = recipes;
        }
        catch (Exception e)
        {
            errorMessage = $"Error loading recipes: {e.Message}";
        }
    }

    private string SearchTerm
    {
        get => searchTerm;
        set
        {
            searchTerm = value;
            DebounceFilerRecipes();
        }
    }

    private void DebounceFilerRecipes()
    {
        debounceCts?.Cancel();
        debounceCts = new CancellationTokenSource();
        var token = debounceCts.Token;

        _ = Task.Delay(300, token).ContinueWith(async task => 
            {
                if (!task.IsCanceled) 
                {
                    await FilterRecipes();
                }
            }, token);
    }

    private async Task FilterRecipes()
    {
        await Task.Delay(150);
        if (recipes == null) return;

        if (string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredRecipes = recipes;
        }
        else{
            filteredRecipes = recipes?
            .Where(r =>
                r.Title.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                (r.Tags != null && r.Tags.Any(t =>
                    t.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)))
            )
            .ToList();
        }

        await InvokeAsync(StateHasChanged);
    }

    private void DebounceSearch(ChangeEventArgs e)
    {
        SearchTerm = e.Value?.ToString() ?? "";
    }
}