@page "/"
@using RecipePortfolio.Data
@using RecipePortfolio.Shared
@inject HttpClient Http

<h1>My Recipe Portfolio</h1>

@if (recipes == null || filteredRecipes == null){
    <p>Loading recipes</p>
}
else{
    <input
    type="text"
    @bind="SearchTerm"
    placeholder="Search recipes..."
    />
    <div class="recipe-grid">
        @foreach(var recipe in filteredRecipes){
            <RecipeCard Recipe="recipe" />
        }
    </div>
}

@code{
    private string searchTerm = "";
    private List<Data.Recipe>? recipes;
    private List<Data.Recipe>? filteredRecipes;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            recipes = await Http.GetFromJsonAsync<List<Data.Recipe>>("data/recipes.json");
            filteredRecipes = recipes;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error loading recipes: {e.Message}");
        }
        
    }

    private string SearchTerm
    {
        get => searchTerm;
        set
        {
            searchTerm = value;
            _ = FilterRecipes();
        }
    }

    private async Task FilterRecipes()
    {
        await Task.Delay(150);

        filteredRecipes = recipes?
            .Where(r =>
                r.Title.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                (r.Tags != null && r.Tags.Any(t =>
                    t.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)))
            )
            .ToList();
    }
}