@using RecipePortfolio.Data

<div class="recipe-card">
    <img src="@Recipe.Image" alt="@Recipe.Title" />
    <div class="recipe-card-title">@Recipe.Title</div>
    <div class="recipe-card-description">@Recipe.Description</div>
</div>

@code{
    [Parameter]
    public Recipe Recipe { get; set; }
}
