name: CI Build and Test

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: "9.0.x"

    - name: Lint code
      run: dotnet format --verify-no-changes
      continue-on-error: true
      
  build: 
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: "9.0.x"

    - name: Cache .NET packages
      uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os}}-nuget-

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: "9.0.x"

    - name: Cache .NET packages
      uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os}}-nuget-

    - name: Restore Dependencies (if needed)
      run: dotnet restore

    - name: Test
      run: dotnet test --no-restore --configuration Release --logger "trx;LogFileName=test_results.trx"

    - name: Upload Test Results
      if: always()
      uses: actions/upload-artifact@v5
      with:
        name: test-results
        path: "**/test_results.trx"
        
  code_coverage:
    runs-on: ubuntu-latest
    needs: test
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: "9.0.x"

    - name: Cache .NET packages
      uses: actions/cache@v4
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj') }}
        restore-keys: |
          ${{ runner.os}}-nuget-

    - name: Restore Dependencies (if needed)
      run: dotnet restore

    - name: Generate Code Coverage
      run: dotnet test --no-restore --configuration Release --collect:"XPlat Code Coverage"

    - name: Convert Coverage to HTML Report
      run: |
        dotnet tool install --global dotnet-reportgenerator-globaltool
        reportgenerator -reports:./**/coverage.cobertura.xml -targetdir:./coverage -reporttypes:Html

    - name: Upload Code Coverage Results
      uses: actions/upload-artifact@v5
      with:
        name: code-coverage
        path: coverage
